<div class="container-fluid">
    <div class="row">
        <div class="my-auto mx-auto h-50">
            <div class="col-xs-12 mb-4 text-center">
                <span>LOGIN USING</span>
            </div>
            <div class="col-xs-12 mb-2">
                <button class="btn btn-primary form-control" (click)="onFbLogin()">FACEBOOK</button>
            </div>
            <div class="col-xs-12">
                <button class="btn btn-danger form-control">GMAIL</button>
            </div>
        </div>  
    </div>
</div>
