<div class="row mx-1">
    <div class="col-xs-12 col-sm-6 mb-5">
        <div class="card mx-auto">
            <img class="card-img-top" [src]="drink.imgUrl" alt="">
            <div class="card-body">
              <h4 class="card-text">{{ drink.name | uppercase }}</h4>
              <p class="card-text"> {{ drink.description }} </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mb-5">
        <form [formGroup]="drinkForm" (submit)="onSubmit()">
            <h3>&#8369;{{ drink.price[size] * drinkForm.controls['quantity'].value }}.00</h3>
            <hr>
            <div class="form-group">
                <div class="row">
                    <span class="col-xs-12 w-75 ml-3 mb-3">Select Drink Size:</span>
                    <div class="col-sm-4 radio" *ngFor="let drinkSize of drinkSizes">
                        <label class="mx-auto">
                            <input 
                                type="radio" 
                                name="drinkSize"
                                formControlName="drinkSize" 
                                [value]="drinkSize"
                                (change)="onDrinkSizeChange()">
                            {{ drinkSize | titlecase }}
                        </label>
                    </div>
                </div>
                <hr>
                <label for="special-instructions">SPECIAL INSTRUCTIONS (OPTIONAL)</label>
                <textarea 
                    id="special-instructions" 
                    class="form-control" 
                    cols="30" 
                    rows="3"
                    formControlName="specialInstructions">
                </textarea>
            </div>
            <hr>
            <div class="form-group">
                <label for="quantity" class="mr-3">Quantity: </label>
                <div class="quantityWidget">
                    <button 
                        type="button"
                        class="btn btn-secondary"
                        (click)="onDecreaseQuantity()"
                        [disabled]="this.drinkForm.controls['quantity'].value < 2">-</button>
                    <input 
                        type="number" 
                        readonly
                        id="quantity" 
                        class="w-25 py-1 pb-2"
                        min="1"
                        formControlName="quantity">
                    <button 
                        type="button"
                        class="btn btn-secondary"
                        (click)="onIncreaseQuantity()">+</button>
                </div>
            </div>
            <div>
                <span>Total: &#8369;{{ drink.price[size] * drinkForm.controls['quantity'].value }}</span>
            </div>
            <button 
                type="submit"
                class="btn btn-secondary mt-3"
                [disabled]="!drinkForm.valid">
                Add To Cart
            </button>
        </form>
    </div>
</div>
