.cart {
    background-image: url('../../assets/img/menuBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: scroll;
    color: white;
}

img {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0%;
    border: rgba(232, 192, 73, 0.842) solid 2px;
}

hr {
    background-color:rgba(232, 192, 73, 0.842);
}

.order-summary {
    background-color: rgba(0, 0, 0, 0.486);
    width: 90%;
}

.item {
    background-color: rgba(31, 30, 30, 0.486);
}

.submit {
    background-color: rgba(232, 192, 73, 0.842);
    color: white;
}

.quantityWidget .btn {
    border-radius: 0;
    width: 35px;
    height: 35px;
    font-size: 15px;
}

.quantity {
    width: 45px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    text-align: center;
}

.price {
    color: green;
}