<div class="containter-fluid cart">
    <div class="row h-25 mt-5 ml-2" style="position: fixed; z-index: 1;">
        <div class="col-xs-12 w-25 mt-3" toastContainer>
        </div>
    </div>
    <div class="row mx-0 px-0">
        <div class="col-xs-12 w-100">
            <div class="mt-5 pt-4 mx-3 mb-5" *ngIf="showDeliveryDetails"> 
                <app-delivery-details
                    (close)="onClose($event)">
                </app-delivery-details>
            </div>
        <form [formGroup]="cartForm" *ngIf="!showDeliveryDetails" class="pt-5 mt-5">
            <div class="row" [ngClass]="cartMargin">
                <div class="col-xs-12 col-md-7 col-lg-8"> 
                    <div 
                        class="row mr-1 mb-3 item" 
                        [ngClass]="itemMarginLeft"
                        *ngFor="let cartItem of cartItems; let i = index">
                        <div [formGroupName]="i" class="w-100">
                            <div class="media col-xs-12 col-lg-12 mb-3 mt-3">
                                <img 
                                    class="mr-3 img-fluid img-thumbnail"
                                    [src]="cartItem.imgUrl"  
                                    alt=""
                                    style="height: 150px; width: 150px;">
                                <div class="media-body my-auto">
                                    <p class="mt-0"><strong>{{ cartItem['name'] }}</strong></p>
                                    <p><em>{{ cartItem['extraInfo'] }}</em></p>
                                    <p><em>{{ cartItem['specialInstructions']}}</em></p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-12 mx-auto my-auto">
                                <input 
                                class="itemCheckbox mr-2"
                                [id]="i"
                                type="checkbox"
                                formControlName="selected"
                                (change)="updateSubtotal()">
                                <label [for]="i" class="price">
                                    <strong>&#8369;{{ cartItem['price'] }}</strong>
                                </label>
                            </div>
                            <div class="col-xs-12 col-lg-12 mx-auto mb-3">
                                <label for="quantity">Quantity: </label>
                                <div class="quantityWidget mb-2">
                                    <button 
                                        type="button"
                                        class="btn btn-secondary" 
                                        (click)="onQuantityChange(i, 'decrease')"
                                        [disabled]="cartItem.quantity < 2">-</button>
                                    <input 
                                        type="number" 
                                        readonly
                                        id="quantity" 
                                        class="quantity"
                                        formControlName="quantity">
                                    <button 
                                        type="button"
                                        class="btn btn-secondary" 
                                        (click)="onQuantityChange(i, 'increase')">+</button>
                                    <a 
                                        class = "float-right" 
                                        style="color: red; cursor: pointer;"
                                        (click)="onDeleteItem(cartItem)">
                                    Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5 col-lg-4 order-summary mx-auto px-2 py-3 h-100 w-100">
                    <p class="mb-1"><strong>Delivery and Billing:</strong></p>
                    <p 
                        class="mb-4">{{ address | titlecase }} 
                        <a 
                            class="ml-2" 
                            (click)="onShowAddressForm()"
                            style="color: rgb(0, 174, 255); cursor: pointer;">
                            <em>Edit</em>
                        </a>
                    </p>
                    <hr class="mb-4">
                    <div class="row">
                        <div class="col-xs-12 ml-3 mb-3">
                            <h5>Order Summary</h5>
                        </div>
                    </div>        
                    <div class="row w-100">
                        <div class="col-xs-12 w-100 ml-3">
                            Subtotal 
                            <p class="float-right">&#8369;{{ +subtotal }}</p>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col-xs-12 w-100 ml-3">
                            Delivery Fee 
                            <p class="float-right">&#8369;0</p>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col-xs-12 w-100 ml-3">
                            Total 
                            <p class="float-right">&#8369;0</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 w-100 mx-3">
                            <button class="btn btn-warning form-control submit">PLACE ORDER</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div> 
    </div>
</div>
