<div class="mx-auto p-5 text-center anyClass" [ngClass]="compWidthClass">
    <span>WHERE TO?</span>
    <hr>
    <form class="text-left">
        <label for="houseUnitFloorNo" class="ml-5">HOUSE NO./UNIT NO./FLOOR NO. <span class="reqMark">*</span></label>
        <input 
            id="houseUnitFloorNo"
            class="form-control mb-3 w-75 mx-auto" 
            type="text" 
            placeholder="HOUSE NO./UNIT NO./FLOOR NO.">
        <input 
            class="form-control mb-3 w-75 mx-auto" 
            type="text" 
            placeholder="BUILDING">
        <label for="street" class="ml-5">STREET <span class="reqMark">*</span></label>
        <input 
            id="street"
            class="form-control mb-3 w-75 mx-auto" 
            type="text" 
            placeholder="STREET">
        <label for="barangay" class="ml-5">BARANGAY <span class="reqMark">*</span></label>
        <input 
            id="barangay"
            class="form-control mb-3 w-75 mx-auto" 
            type="text" 
            placeholder="BARANGAY">
        <label for="province" class="ml-5">PROVINCE <span class="reqMark">*</span></label>
        <select 
            class="form-control mb-3 w-75 mx-auto" 
            name="" 
            id="province" 
            (change)="onProvinceChanged($event)">
            <option value="null" [disabled]="true">- SELECT PROVINCE -</option>
            <option 
                *ngFor="let province of provinces"
                [value]="province">
            {{ province }}
            </option>
        </select>
        <label for="municipality" class="ml-5">CITY / MUNICIPALITY <span class="reqMark">*</span></label>
        <select 
            class="form-control mb-3 w-75 mx-auto"
            name="" 
            id="municipality">
            <option value="null" [disabled]="true">CITY / MUNICIPALITY</option>
            <option
                *ngFor="let municipality of municipalities" 
                [value]="municipality">
            {{ municipality }}
            </option>
        </select>
        <div class="row">
            <button type="submit" class="btn btn-secondary form-control mb-3 w-50 mx-auto">GO BACK</button>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-secondary form-control mb-3 w-50 mx-auto">CONTINUE</button>
        </div>
        
    </form>
</div>